@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Inter:wght@300&family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 105px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#World {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

p {
    position: relative;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

body {
    width: 100%;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 150px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list li {
    position: relative;
    list-style: none;
    padding: 0px 10px;
}

.nav__list li a {
    text-decoration: none;
    color: #0E0E0E;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    transition: 0.3s ease;
}

.nav__list li a:hover,
.nav__list li a.active {
    font-weight: bold;
}

.nav__list li a.active::after {
    content: "";
    width: 32px;
    height: 5.33px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 12px;
}

.nav__close {
    display: inline-flex;
    align-items: flex-start;
    gap: 18px;
}

#hero {
    background-image: url("assets/hero_bg.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50px;
}

#underline1 {
    width: 289px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
}

#paragragh {
    width: 558px;
    margin: 56px 0;
}

#btn {
    width: 71px;
    height: 24px;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    border: 2px solid #FFF;
}

#btn:hover {
    background-color: black;
    color: white;
}

#ractangles1 {
    position: absolute;
    top: 116px;
    right: 0px;
    width: 900px;
}

.title {
    width: auto;
    margin: 150px 150px;
}

.titleAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.titleAndButton h1 {
    color: #000;
    font-family: "Open Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#btn1 {
    width: 71px;
    height: 24px;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    border: 2px solid #000000;
    background-color: black;
    color: #FFF;
}

#btn1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.underline2 {
    width: 289px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    position: relative;
    left: 43%;
}

.row1 {
    display: flex;
    margin-top: 64px;
    gap: 33px;
}

.row2 {
    display: flex;
    margin-top: 64px;
    gap: 33px;
}

.product1 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 56px;
    padding: 30px;
}

.productImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product1 img {
    width: auto;
    height: 185px;
    border-radius: 30px;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
}

.price h1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.productTitle1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productTitle1 h1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 24px;
}

.getItnowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

#btnGetitnow {
    width: 160px;
    height: 50px;
    display: flex;
    padding: 16px 48px;
    border-radius: 64px;
    border: 2px solid #000000;
    background-color: black;
    color: #FFF;
}

#btnGetitnow:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.card:hover {
    border: 3px solid black;
}

.product2 {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 56px;
}

.productContent {
    padding: 46px;
}

.productImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product2 img {
    width: auto;
    height: 500px;
    border-radius: 30px;
    margin-left: 15%;
}

.digitalWorld {
    background-color: #000;
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_Ractangle img {
    width: auto;
    height: 430px;
    border-radius: 56px;
}

#ractangles2 {
    position: absolute;
    right: 0%;
}

.title1 {
    width: auto;
    margin: 100px 150px;
}

.title1 h3,
h1 {
    color: #FFF;
}

.title1 h3 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.title1 h1 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#underline3 {
    width: 170px;
    height: 4px;
    border-radius: 4px;
    background: #FFF;
}

#expBtn {
    width: 71px;
    height: 24px;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    border: 2px solid #FFF;
    margin-top: 15%;
}

#expBtn:hover {
    background-color: black;
    color: white;
}

.underline4 {
    width: 225px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    position: relative;
    left: 25%;
}

.tutorial {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 56px;
    padding: 7px;
}

.tutorial img {
    width: auto;
    height: 170px;
    border-radius: 30px;
    align-items: center;
    margin-top: 4%;
}

.tutorialTitle h1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 24px;
}

.tutorialPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
}

.tutorialPrice h1 {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tutorialGetitnow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin: 15px 0px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 56px;
}

.Tri-vimaStudio {
    background-color: black;
    width: 401px;
}

.Tri-vimaStudio p {
    color: #555;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.logo_Title {
    display: flex;
}

.logo_Title h1 {
    color: #FFF;
    font-family: 'Exo', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.getHelpTitle h1 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.getHelp {
    background-color: black;
}

.getHelpContent h2 {
    color: #555;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    text-transform: capitalize;
}

.getHelpContent h2:hover {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    text-transform: capitalize;
}

.weAreIn {
    background-color: black;
}

.weAreInTtitle h1 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.contactUs {
    background-color: black;
}

.contactUs h1 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.weAreInContent h2 {
    color: #555;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    text-transform: capitalize;
}